#add-main-container {
    display: none;
}

#add-workout-actions button {
    flex-grow: 1;
}

input {
    border: none;
    background: none;
    width: 60px;
    color: white;
}

textarea {
    background: none;
    font-family: "Inter";
    color: white;
}

.add-workout-detail {
    text-align: center;
    font-size: 1.8rem;
    width: 30%;
}

.add-workout-detail:nth-child(1) {
    width: 20%;
    font-size: 1.8rem;
}

.add-workout-detail:nth-child(2) {
    width: 50%;
    font-size: 1.8rem;
}

.add-workout-detail:nth-child(3) {
    width: 20%;
    font-size: 1.8rem;
}

    #add-reps input {
        width: 20px;
    }