:root {
    --main-color: ;
    --secondary-color: ;
}

body {
    background: linear-gradient(#555555,#1d1d1d);
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#day-selector {
    flex-basis: 100%;
    -webkit-appearance: none;
    ;
}